*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}



.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px 5PX;
  background-color: #ffffff;
  
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 80px;
}



.nav-links{
  margin-left: 600px;
}
.nav-links a{
  margin-left: 20px;
  text-decoration: none;
  color: #333;

}
.logo{
   margin-bottom: 17px;
   /* border-radius: 50%; */
   border: #ffffff 1px solid;
   border-radius: 50%;
   background-color:  black;
}



.hero{
  padding: 80px 40px;
  text-align: center;
  min-height:40vh;
  flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 0 20px; 
   margin-top: 30px;

}
.hero h1{
  font-size: 48px;
  margin-bottom: 16px;
}
.hero p{
  font-size: 18px;
  margin-bottom: 24px;
  color: #555;
}
.btn{
  padding: 12px 24px;
  border: none;
  background: #2563eb;
  color: #fff;
  cursor: pointer;
  border-radius: 6px;
}
.services{
  padding: 60px 40px;
  text-align:center;
}
.service-cards{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 24px;
  margin-top: 40px;
}
.card{
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 10px 20px rgba(0,0,0,0.08);
}
.card img {
  width: 100%;
  max-width: 300px;
  margin-bottom: 16px;
}
.card img.web1{
  height: 198px;
}
.card h3 {
  margin-bottom: 8px;
}
footer {
  text-align: center;
  padding: 20px;
  background: #f1f1f1;
  margin-top: 60px;
}
 @media (max-width: 768px) {
   
   .navbar {
  
     flex-direction: column;
    
    flex-wrap: wrap;
    padding: 16px 20px;
    height: auto;
  } 

  .nav-links{ 
     display: flex;
    flex-direction: column;
     align-items: center;
     gap: 12px; 
     margin-top: -1px; 
     margin-left:-12px; 
   } 
  
  .nav-links a {
    font-size: 16px;
  }

  .dark-toggle {
    margin-top: 10px;
  }

  .service-cards {
    grid-template-columns: 1fr;
  }

  .hero h1 {
    font-size: 32px;
  }
} 

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  margin: 0 8px;
  font-size: 20px;
  color: #333;
  text-decoration: none;
}

body.dark .social-icons a {
  color: #f5f5f5;
}





body.dark {
   background-color: #121212;  
   color: #f5f5f5;
}
body.dark .navbar {
   background-color: #1f1f1f;  
   border-bottom: 1px solid #333;
}
body.dark .nav-links a {
   color: #f5f5f5;
}
body.dark .hero p{
  color: whitesmoke;
  opacity: 0.6;
  font-size: 18px;
}

body.dark  .card{
    background-color: #1f1f1f;
    box-shadow: none;
}
body.dark footer{
  background-color: #1e1e1e;
}

.btn:hover{
  transform:scale(1.05);
  transition:0.6s ease;
  background-color: rgb(0, 128, 0);
}
.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
}
